@charset "utf-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

@font-face {
font-family: MyCustomFont;
src: url("../fonts/Eurostile.eot") /* EOT file for IE */
}
@font-face {
font-family: MyCustomFont;
src: url("../fonts/Eurostile.ttf") /* TTF file for CSS3 browsers */
}



.clear {
	clear:both;
}

img{
	border:0px;
	outline:none;
}

#main_container{
	width:810px;
	margin-top:12px;
	color:#9A999E;
}


#left_container{
	width:520px;
	padding-left:28px;
	float:left;
}

.prdct_detail_box{
	padding-bottom:4px;
}

.share_section{
	padding-bottom:38px;
}

.art_section{
	padding-top:13px;
	margin-bottom:13px;
}

.login_section{
	padding-bottom:140px;
	padding-top:8px;
	padding-left:5px;
}

.log_sec{
	padding-top:10px;
}

.login_box{
	width:246px;
	font-size:11px;
	float:left;
	margin-bottom:15px;
}

.join_box{
	width:200px;
	font-size:11px;
	padding-left:10px;
	float:left;
}
.share_box img {
	padding-left:5px;
}


#right_container{
	width:230px;
	float:left;
	margin-left:25px;
	padding-top:19px;

}

/*#right_container span{
	color:#9A999E;
	
}*/

.line_space
{
    line-height:15px;
}

.artist_info{
	padding-bottom:30px;
}

.button_section div{
	text-align:left;
}


.MainBody .purchase_btn a{
	background:url(../images/New/purchase_btn.jpg) no-repeat;
	width:168px;
	height:32px;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	line-height:32px;
}

.MainBody .purchase_btn a:hover{
	background:url(../images/New/purchase_btn.jpg) bottom no-repeat;
	width:168px;
	height:32px;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	line-height:32px;
 }
 .MainBody .buy_btn
 {
     text-align:left;
     padding-left:41px;
 }
 
 .MainBody .buy_btn a
 {
    background:url(../images/New/buy_the_print.jpg) no-repeat;
	width:151px;
	height:46px;
	display:block;
	font-size:12px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
 } 
  .MainBody .buy_btn a:hover
 {
    background:url(../images/New/buy_the_print.jpg) no-repeat;
	width:151px;
	height:46px;
	display:block;
	font-size:12px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
 }
.frame_it_btn a{
background:url(../images/New/frameIt_btn.jpg) no-repeat left top;
	width:168px;
	height:32px;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
line-height:29px;
margin-top:12px;	
}

.frame_it_btn a:hover{
background:url(../images/New/frameIt_btn.jpg) no-repeat left bottom ;
	width:168px;
	height:32px;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
line-height:29px;
margin-top:12px;	
 }

.follow_art_sec{
	width:184px;
	padding-left:2px;
	padding-top:31px;
}

/*-----------------Font-Css----------------------*/
.author_head 
{
    color:#4C4D4F;
	font-size:15px;
    text-decoration:none;
	text-transform:uppercase;
	/*font-weight:bold;*/
}
.MainBody a.author_head, .MainBody a.author_head:link, 
.MainBody a.author_head:active, .MainBody a.author_head:visited {
	color:#4C4D4F;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
	/*font-weight:bold;*/
}
.MainBody a.author_head:hover
{
    color:#202121;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
}


/*.MainBody a.author_head:hover {
	color:#4D4D4F;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
}*/

.sub_author_head
{
  font-size:12px;
  color:#8A8B8F; 
  text-transform:none; 
  font-weight:normal;
}

.MainBody .sub_author_head a, .MainBody .sub_author_head a:link, 
.MainBody .sub_author_head a:active, .MainBody .sub_author_head a:visited
{
  font-size:12px;
  color:#8A8B8F;  
   text-transform:none; 
}

.MainBody .sub_author_head a:hover
 {
  font-size:12px;
  color:#4f5052;  
  text-transform:none; 
}


.sub_artist_head{
	color:#8A8B8F;
	font-size:12px;
}

.sub_artist_head2{
	color:#8A8B8F;
	font-size:13px;
}

.Mainbody  .sub_artist_head2 a:link{
	color:#8A8B8F;
	font-size:13px;
	font-style:italic;

}

.Mainbody  .sub_artist_head2 a:hover{
	color:#4F5052;
	font-size:13px;
	font-style:italic;
}
.small_grey_f{
	color:#8A8B8F;
	font-size:10px;
}

.Mainbody a.small_grey_link{
	color:#8A8B8F;
	font-size:10px;
}

.Mainbody a.small_grey_link:hover{
	 color:#4f5052;  
	font-size:10px;

}

.Mainbody a.prdct_name{
	font-size:11px;
	color:#4C4D4F;
	text-transform:uppercase;
}

.Mainbody a.prdct_name:hover{
	color:#202121;
	font-size:11px;
	text-transform:uppercase;
}

.black_head{
	color:#000;
	font-size:18px;
	font-family: Eurostile , arial;
	padding-bottom:5px;
}

.Mainbody .black_head a{
	color:#000;
	font-size:18px;
	font-family: Eurostile , arial;
	padding-bottom:5px;
}

.Mainbody .black_head a:hover{
	color:#000;
	font-size:18px;
	font-family: Eurostile , arial;
	padding-bottom:5px;
	text-decoration:underline;
}
.black_head2{
	color:#231F20;
	font-size:16px;
	font-family: Eurostile , arial;
	padding-bottom:5px;
}

.form td.black_head2{
	color:#231F20;
	font-size:16px;
	font-family: Eurostile , arial;
	padding-bottom:5px;
}



.MainBody .view_more_link a:link{
	color:#E9BC55;
	font-size: 12px;
	text-decoration:none;
}



.MainBody .view_more_link a:hover{
	text-decoration:underline;
}

.MainBody .orange_link a:link
{
    color: #F46F46;
    font-size: 12px;
	text-decoration:none;
	
}

.MainBody .orange_link a:visited
{
    color: #F46F46;
    font-size: 12px;
	text-decoration:none;
	
}

.MainBody .orange_link a:active
{
    color: #F46F46;
    font-size: 12px;
	text-decoration:none;
	
}
.MainBody .orange_link a:hover
{

    font-size: 12px;
	text-decoration:none;
	color:#4C4D4F;
}

.f-size-11{
	font-size:11px;
	color:#8A8B8F;
}
.MainBody .artist_name_list a, .MainBody .artist_name_list a:link, 
.MainBody .artist_name_list a:active, .MainBody .artist_name_list a:visited
{
  font-size:11px;
  color:#8A8B8F;
}

.MainBody .artist_name_list a:hover 
{
  font-size:11px;
  color:#8A8B8F;
  text-decoration:underline;
}
.MainBody .artist_name_list_lbl a, .MainBody .artist_name_list_lbl a:link, 
.MainBody .artist_name_list_lbl a:active, .MainBody .artist_name_list_lbl a:visited,
.MainBody .artist_name_list_lbl a:hover
{
  font-size:11px;
  color:#8A8B8F;
  cursor:auto;
}

.MainBody .artwork_name_list a, .MainBody .artwork_name_list a:link, 
.MainBody .artwork_name_list a:active, .MainBody .artwork_name_list a:visited
{
  font-size:11px;
  color:#8A8B8F;
}

.MainBody .artwork_name_list a:hover 
{
  font-size:11px;
  color:#8A8B8F;
  text-decoration:underline;
}
.MainBody .artwork_name_list .artwork_name_list_lbl, .MainBody .artwork_name_list .artwork_name_list_lbl:hover
{
text-decoration:none;
  cursor:text;
}
.f-size-10{
	font-size:10px;
	color:#7a7c7f;
}

.FA_Artist_link{
	font-size:12px;
	color:#8F9092;
}

.MainBody .FA_Artist_link a,.MainBody .FA_Artist_link a:link, 
.MainBody .FA_Artist_link a:active,.MainBody .FA_Artist_link a:visited
{
    font-size:12px;
	color:#8F9092;
	text-transform:none;
}
.MainBody .FA_Artist_link a:hover
{
    font-size:12px;
	color:#4f5052;
	text-transform:none;
}

/*.see_person_sec td
{
    color:#9A999E;
}*/

.yellow_head 
{
    color:#e9b94a;
    font-size: 12px;
	text-decoration:none;
}

#right_container .price_box span
{
   color:#4d4d4e;
    font-size:16px;
    font-weight:bold;
}

 td .price_box span
{
   color:#4d4d4e;
    font-size:16px;
    font-weight:bold;
}

td .orange_text
{
    color: #F46F46;
    font-size: 12px;
    margin-bottom: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-bottom:5px;
}

#right_container .price_box span.discPrice{ color:Red; }


.CustomDropDownItem
{
    color: #8A8B8F;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.CustomDropDownItem a:link
{
    color: #8A8B8F;
    font: 12px Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 2px;
    display: block;
}
.CustomDropDownItem a:hover
{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #8A8B8F;
    font: 12px Arial, Helvetica, sans-serif;
}
.CustomDropDownItem a:visited
{
    color: #8A8B8F;
    font: 12px Arial, Helvetica, sans-serif;
    padding: 2px;
    text-decoration: none;
    display: block;
}

/*-----------------basic-Css----------------------*/

.grey_text2
{
    color:#8A8B8F;
    font-size:12px;
}
.Mainbody a.grey_link2 
{
    color:#8A8B8F;
    font-size:12px;
}
.Mainbody a.grey_link2:hover 
{
    color:#8A8B8F;
    font-size:12px;
    text-decoration:underline;
}
.border_bottom{
	border-bottom:1px #ccc  dashed;
}

.border_top{
	border-top:1px #ccc  dashed;
}

.input_box{
	border:1px #ccc solid;
	width:149px;
	padding:2px;
	color:#9a999e;
	font-size:11px;
}

.form{
	text-align:right;
}

.form td
{
    padding:0px;
    margin:0px;
    color:#9A999E;
}

/*-----------------box-Css----------------------*/

.grey_top_left{
	background:url(../images/New/grey_box_top_left.jpg) no-repeat;
	width:10px;
	height:9px;
}

.grey_top_right{
	background:url(../images/New/grey_box_top_right.jpg) no-repeat;
	width:10px;
	height:9px;
}

.grey_top_mid{
	background:url(../images/New/grey_box_top_mid.jpg) repeat-x;
	height:9px;
}

.grey_btm_left{
	background:url(../images/New/grey_box_btm_left.jpg) no-repeat;
	width:10px;
	height:9px;
}

.grey_btm_right{
	background:url(../images/New/grey_box_btm_right.jpg) no-repeat;
	width:10px;
	height:9px;
}
.grey_btm_mid{
	background:url(../images/New/grey_box_btm_mid.jpg) repeat-x;
	height:9px;
}


/*----------------------Footer-----------------------------------*/

.join_pop_up{
	position:absolute;
	top:22px;
	left:132px;
}

.up_arrow{
	position:absolute;
	left:9px;
	top:-30px;
}

.top_right_arrow{
	position:absolute;
	right:9px;
	top:-30px;
}

.NewErrorMessage span
{
    text-align:left;
    color:Red;
}


/*-----------------Comments------------------------*/
.comment_section{
	padding-bottom:40px;
	padding-top:8px;
	padding-left:5px;
	
}



.user_comment_box{
	padding-bottom:40px;
	padding-top:13px;
}

.comment_input{
	width:200px;
	border:1px solid #CCCCCC;
	padding:2px;
}

.comment_textarea{
	border:1px solid #CCCCCC;
	padding:2px;
}

.post_btn{
	background:url(../images/New/post_btn.jpg) no-repeat;
	width:122px;
	height:23px;
	color:#fff;
	border:0px;
	padding-bottom:4px;
	#padding-bottom:0px;
	cursor:pointer;
	text-transform:uppercase;
}

.comment_sec{
	border-top:1px #dedede solid;
	padding-bottom:20px;
	color:#4d4d4f;
	
}

.comment_text
{
color:#4D4D4F;
}

.comment_sec p{
	padding:12px 0px 5px 3px;
	color:#4D4D4F;
	font-size:12px;

}

.date_sec{
	background:#f6f6f6;
	border:1px #ebebeb solid;
	padding:3px 8px 3px 8px;
	width:auto;
	line-height:20px;
	color:#4D4D4F;
	font-size:12px;
}

.MainBody .pagination a{
	color:#4d4d4f;
	text-decoration:none;
}

.MainBody .pagination a:hover{
	color:#eab849;
	text-decoration:none;
}

.pagination td{
	padding-right:8px;
}

.MainBody .pagination a.active{
	color:#eab849;
	text-decoration:none;
}

/*-----------------End Comments--------------*/

.MultiViewLink a
{
    border:1px solid #000;
}
.MultiViewLink a:hover
{
    border:1px solid #ccc;
}


a.email_it
{
    background-image:url(../images/New/email_it.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:44px;
    height:52px;
    display:block;
}


a.email_it:hover
{
   background-image:url(../images/New/email_it_h.jpg);
}

a.wishlist_it 
{
    background-image:url(../images/New/wish_list_img.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:44px;
    height:52px;
    display:block;
}

a.wishlist_it:hover
{
   background-image:url(../images/New/wish_list_img_h.jpg);
}

a.viweonwall 
{
    background-image:url(../images/New/view_wall_img.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:41px;
    height:59px;
    display:block;
}

a.viweonwall:hover
{
   background-image:url(../images/New/view_wall_img_h.jpg);
}



a.yellow_arrow 
{
    background-image:url(../images/New/yellow_arrow.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:28px;
    height:27px;
    display:block;
}

a.yellow_arrow:hover
{
   background-image:url(../images/New/yellow_arrow_h.jpg);
}


a.Login_btn
{
    background-image:url(../images/New/lgoin_btn.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:58px;
    height:15px;
    display:block;
}

a.Login_btn:hover
{
   background-image:url(../images/New/lgoin_btn_h.jpg);
}


a.new_customer
{
    background-image:url(../images/New/joinus_btn.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:58px;
    height:15px;
    display:block;
}

a.new_customer:hover
{
   background-image:url(../images/New/joinus_btn_h.jpg);
}


a.post_comments
{
  background-image:url(../images/New/post_btn.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:122px;
	height:23px;
	color:#fff;
	border:0px;
	padding-bottom:4px;
	#padding-bottom:0px;
	cursor:pointer;
	text-transform:uppercase;
    display:block;
}

a.post_comments:hover
{
   background-image:url(../images/New/post_btn_h.jpg);
}



a.create_customer
{
  background-image:url(../images/New/go_btn.jpg);
    background-position:center top;
    background-repeat: no-repeat;
    width:30px;
	height:16px;
	display:block;
}

a.create_customer:hover
{
   background-image:url(../images/New/go_btn_h.jpg);
}

/*-----------------Artist_Portfolio--------------*/
#artist_panel{
	width:198px;
	#width:168px;
	float:left;
	background:#f2f2f4;
	
}

.artis_info_panel{
	margin-left:21px;
	padding-top:20px;
	margin-right:15px;
}

.orange_head{
	color: #F27146;
    font-size: 15px;
    text-transform: uppercase;
    white-space: nowrap;
}

.orange_head2{
	color: #F27146;
    font-size: 17px;
    text-transform: uppercase;
	font-family:"Arial Narrow";
}

.follow_artist_btn{
	width:139px;
	height:35px;
	padding-left:10px;
}
.artis_left_nav{
	padding-left:11px;
	padding-top:54px;
	padding-bottom:20px;
}

.artis_left_nav ul{
	padding:0px;
	margin:0px;
}

.artis_left_nav ul li{
	list-style:none;
	margin-top:1px;
}

.art_for_sale_nav a{
	width:187px;
	height:34px;
	background:url(../images/New/art_for_sale.jpg) left top;
	display:block;
}

.art_for_sale_nav a:hover{
	width:187px;
	height:34px;
	background:url(../images/New/art_for_sale.jpg) left bottom;
	display:block;
}

.art_for_sale_active a{
	width:187px;
	height:34px;
	background:url(../images/New/art_for_sale.jpg) left bottom;
	display:block;
}
.profile_nav a{
	width:187px;
	height:34px;
	background:url(../images/New/profile.jpg) left top;
	display:block;
}

.profile_nav a:hover, .profile_nav_active a{
	width:187px;
	height:34px;
	background:url(../images/New/profile.jpg) left bottom;
	display:block;
}



.commision_nav a{
	width:187px;
	height:34px;
	background:url(../images/New/commision.jpg) left top;
	display:block;
}

.commision_nav a:hover, .commision_active a{
	width:187px;
	height:34px;
	background:url(../images/New/commision.jpg) left bottom;
	display:block;
}

.sold_artwork_nav a{
	width:187px;
	height:34px;
	background:url(../images/New/solid_art_work.jpg) left top;
	display:block;
}

.sold_artwork_nav a:hover, .sold_artwork_active a{
	width:187px;
	height:34px;
	background:url(../images/New/solid_art_work.jpg) left bottom;
	display:block;
}



#artist_right_panel{
	width:586px;
	float:right;
}

.info_raw{
	padding-top:10px;
	padding-bottom:20px;
}

.text_container1{
	width:225px;
	text-align:justify;
	padding-right:25px;
	padding-bottom:20px;
	padding-left:20px;
	
}

.text_container2{
	padding-left:40px;
	padding-bottom:20px;	
}

.text_container1 p{
	font-size:13px;
	padding-top:10px;
	text-align:justify;
	color:#76787B;
	font-family:"Arial Narrow";
	
}

.f-size-13{
	font-size:13px;

}


.A_narrow_txt
{
    color:#76787B;
	font-size:13px;
	font-family:"Arial Narrow";
	
}

.press_link
{
  color:#76787B;  
  font-size:13px;
  font-family :"Arial Narrow";
}

.MainBody .press_link a{
	color:#76787B;
	font-size:13px;
	font-family:"Arial Narrow";
	text-decoration:none;
}

.MainBody .press_link a:hover{
	color:#76787B;
	font-size:13px;
	font-family:"Arial Narrow";
	text-decoration:none;
}

 .MainBody .blue_more_link a, .MainBody .blue_more_link a:link, 
.MainBody .blue_more_link  a:active, .MainBody .blue_more_link a:visited
{
	color:#5F8EA3;
	text-decoration:underline;
}

 .MainBody .blue_more_link a:hover{
	color:#5F8EA3;
	text-decoration:none;
}

 .blue_price_link {
	color:#5F8EA3;
	text-decoration:none;
	font-size:11px;
}
 .MainBody  .blue_price_link a{
	color:#5F8EA3;
	text-decoration:none;
	font-size:11px;
}
 .MainBody  .blue_price_link a:hover{
	color:#5F8EA3;
	text-decoration:underline;
	font-size:11px;
}

 .MainBody  .blue_price_link a.blue_price_link_lbl, .MainBody  .blue_price_link a.blue_price_link_lbl:hover {
	color:#5F8EA3;
	text-decoration:none;
	font-size:11px;
	cursor:text;
}


.bod_right{
	border-right:1px #ccc  dashed;
}

.text_box{
	padding-top:10px;
}

.text_box td{
	padding:0px;
	margin:0px;
}
.grey_head_bold{
	font-size:14px;
	font-family:"Arial Narrow";
	font-weight:bold;
}

.grey_small_head_bold{
	font-size:13px;
	font-weight:bold;
	font-family:"Arial Narrow";
}

.art_prdct_panel{
	border:1px #BCBEC0 solid;
	padding:5px;
	margin-right:20px;
	position:relative;
}

.top_art_section{
	padding-top:5px;
	padding-bottom:20px;
}

.sold_art_ico{
	position:absolute;
	top:-5px;
	left:-5px;
}

.form_panel{
	background:url(../images/New/form_bg.jpg) no-repeat;
	width:453px;
	height:442px;
	padding-left:47px;
	padding-top:23px;
}

.form_grey_text{
	color:#5B5C5C;
	font-size:14px;
}

.big_input {
	width:340px;
	border:1px #BCBEC0 solid;
	padding:3px;
	font-size:11px;
	color:#8A8B8F;
}

.textarea_col{
	width:340px;
	border:1px #BCBEC0 solid;
	padding:3px;
	height:130px;
	font-size:11px;
	color:#8A8B8F;
	font-family:Arial;
	margin-top:10px;
}


/*-----------------pop-up-Css----------------------*/

.grey_pop_top_left{
	background:url(../images/New/g_pop_t_left.gif) no-repeat;
	width:12px;
	height:12px;
}

.grey_pop_top_mid{
	background:url(../images/New/g_pop_t_mid.gif) repeat-x;
	height:12px;
}

.grey_pop_top_right{
	background:url(../images/New/g_pop_t_right.gif) no-repeat;
	width:12px;
	height:12px;
}

.grey_pop_mid_left{
	background:url(../images/New/g_pop_m_left.gif) repeat-y;
	width:12px;
}

.grey_pop_mid_right{
	background:url(../images/New/g_pop_m_right.gif) repeat-y;
	width:12px;
}

.grey_pop_btm_left{
	background:url(../images/New/g_pop_b_left.gif) no-repeat;
	width:12px;
	height:12px;
}

.grey_pop_btm_mid{
	background:url(../images/New/g_pop_b_mid.gif) repeat-x;
	height:12px;
}

.grey_pop_btm_right{
	background:url(../images/New/g_pop_b_right.gif) no-repeat;
	width:12px;
	height:12px;
}

.grey_pop_up{
	position:absolute;
}

.grey_pop_up_header
{
    color:#8A8B8F;
    font-size: 17px;
    text-transform: uppercase;
	font-family:"Arial Narrow";
}
.down_arrow{
	position:absolute;
	right:9px;
	bottom:-30px;
}

.top_right_arrow{
	position:absolute;
	right:9px;
	top:-30px;
}



.top_right_arrow_artist{
	position:absolute;
	right:80px;
	top:-30px;
}

.NewCloseButton	{ width:25px; top:-2px; margin-right: 10px;}

/*-----------------Testimonials-Css----------------------*/

.purchase_header{
	text-align:center;
	padding-top:8px;
}
.purchase_head{
	font:bold 36px Arial, Helvetica, sans-serif;
	color:#F27147 ;
	padding-bottom:10px;
}

td.purchase_head{
	font:bold 36px Arial, Helvetica, sans-serif;
	color:#F27147 ;
	padding-bottom:10px;
}

.sub_title_info{
	color:#ABABAB;
	font-size:18px;
	font-style:italic;
	padding-bottom:10px;
}

.top_icon{
	padding-left:32px;
	padding-top:20px;
}

.icon_box{
	padding-right:39px;
}

.gallery_container{
	padding-top:30px;
}

.galley_box{
	margin:0px auto;
	width:740px;
}

.big_thumb{
	width:740px;
	height:460px;
}

.thumb_raw{
	width:740px;
	height:91px;
	padding-top:17px;
}

.thumb_raw .gall_thumb{
	padding-right:6px;
}

.testi_container{
	padding-top:40px;
}
.happy_customer{
	width:420px;
	float:left;
}
.big_orange_head{
	font:normal 22px Arial, Helvetica, sans-serif;
	color:#F27147;
	padding-bottom:14px;
	border-bottom:1px dashed #ccc;
}

.blue_c{
	color:#5F8DA2;
}

.grey_info_text{
	font:normal 18px "Arial Narrow";
	color:#868585;
	padding-bottom:24px;
	padding-top:10px;
}

td.review_sub_header{
	font:normal 25px "Arial Narrow";
	color:#4E4D50;
	padding-bottom:24px;
	padding-top:10px;
}

.testi_container p{
	color:#5F8DA2;
	font:normal 17px "Arial Narrow";
	font-style:italic;
	padding-bottom:19px;
}

td.review_para p{
	color:#727272;
	font:normal 17px "Arial Narrow";
	font-style:italic;
	padding-bottom:19px;
}

.testi_container p a:link, .testi_container p a:visited {
	color:#5F8DA2;
	font:normal 17px "Arial Narrow";
	font-style:italic;
	padding-bottom:19px;
	text-decoration:none;
}

.testi_container p a:hover{
	color:#5F8DA2;
	font:normal 17px "Arial Narrow";
	font-style:italic;
	padding-bottom:19px;
	text-decoration:none;
}

.see_it_box{
	width:354px;
	#width:344px;
	float:right;
	background:url(../images/new/testimonials/see_it_bg_btm.jpg) no-repeat bottom;
	padding-bottom:22px;
	padding-top:34px;
	
}

.see_it_box_content{
	background:#f5f5f5 url(../images/new/testimonials/see_it_bg_top.jpg) no-repeat top;
	padding-top:24px;
	padding-left:10px;
	
}
.see_it_box_content h1{
	font:normal 24px Arial, Helvetica, sans-serif;
	color:#F27147;
}

.see_it_box_content p{
	width:295px;
	padding-left:5px;
	font:normal 18px "Arial Narrow";
	color:#868585;
	text-align:justify;
	padding-bottom:20px;

}

.see_it_box_content a:link, .see_it_box_content a:visited, .see_it_box_content a:active{
	font:normal 21px "Arial Narrow";
	color:#F27147;
	font-style:italic;
	text-decoration:none;
	padding-left:5px;
}

.see_it_box_content a:hover{
	font:normal 21px "Arial Narrow";
	color:#F27147;
	font-style:italic;
	text-decoration:none;
	padding-left:5px;
	text-decoration:underline;
}

.btm_information_text{
	padding-bottom:30px;
	padding-top:17px;
}

.btm_information_text p{
	font:normal 17px "Arial Narrow";
	color:#868585;
	padding-bottom:30px;
	padding-top:13px;
}

.btm_information_text p a:link{
	font:normal 17px "Arial Narrow";
	color:#868585;
	text-decoration:none;
	
}



.personal_touch{
	background:url(../images/new/testimonials/personal_touch_btm.jpg) no-repeat bottom;
	width:810px;
	padding-bottom:10px;
	margin-top:10px;

}
.personal_touch_content{
	background:url(../images/new/testimonials/personal_touch_top.jpg) no-repeat top;
	width:790px;
	#width:810px;
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	

}
/*Home Page*/

.gift_art{
width:785px;
height:49px;
background:url(../images/New/give_the_gift_art_bg.jpg) no-repeat;
padding-top:23px;
text-align:center;
}

.gift_art a:link,.gift_art a:visited {
font:normal 19px "Arial Narrow";
text-decoration:none;
color:#606161;

}

.exibit_sec{
width:243px;
height:76px;
background:#E3ECEE;
border:1px #D6D6D6 solid;
padding-left:29px;
padding-top:10px;

}

.exibit_sec a:link,.exibit_sec a:visited{
font:normal 14px "Arial Narrow";
text-decoration:none;
color:#787878;

}
.exibit_sec_head{
font:bold 19px "Arial Narrow";
text-decoration:none;
color:#606161;
}

.why_ugallery_sec{
width:487px;
height:80px;
background:#EAEAEA;
border:1px #D6D6D6 solid;
padding-top:6px;
padding-left:8px;
margin-left:5px;
}

.why_ugallery_sec a:link,.why_ugallery_sec a:visited{
font:bold 14px Arial, Helvetica, sans-serif;
text-decoration:none;
color:#787878;

}


.MainBody .explanatory-text a
{
    color: #a3a3a3; 
    font-size: 11px;
    font-family: Arial Narrow;
}
.MainBody .explanatory-text a:hover
{
    color: #a3a3a3; 
    font-size: 11px;
    text-decoration:underline;
}

/*Artist Registration*/
.orange_head {
color:#F27147;
font-size:15px;
white-space:nowrap;
}

.new_grey_text{
	font:normal 15px "Arial Narrow";
	color:#868585;
	padding-bottom:10px;
}

.new_grey_text a:link, .new_grey_text a:visited{
	color:#F27147;
    font-size:15px;
	text-decoration:none;
}
.new_grey_text a:hover{
	color:#F27147;
    font-size:15px;
	text-decoration:underline;
}

.new_SubTitle
{
    font:bold 15px arial;
    color:#F27147;
}
.new_SubTitleBorder
{
    padding-bottom:8px;
    border-bottom: 1px solid #4D4D4F;
}

.new_orange_head {
color:#F27147;
font-size:21px;
white-space:nowrap;
font-family:Lucida Sans;
text-transform:none;
}

.new_artistinfo
{
    padding:8 0 8 0;
    color:#4D4D4F;
}

.newlabel
{
    font:bold 11px arial;
    padding:2px 3px;
    color:#4D4D4F;
}
.newnormallabel
{
    font:normal 11px arial;
    padding:2px 3px;
    color:#4D4D4F;
}
.new_input_textarea
{
     font:normal 11px arial;
     color:#4D4D4F;
}
.new_dropdown
{
     font:normal 11px arial;
     color:#4D4D4F;
     padding:1px;
}
.new_input input,.newnormallabel input
{
    font:normal 11px arial;
    color:#4D4D4F; 
}
/*-------------------*/



/*------------------------New Artist-------------------------*/
.new_artist_filter_head
{
    color:#777777;
	font:normal 12px Arial;
	text-transform:uppercase;
	white-space:nowrap;
}
.MainBody td.new_artist_name a{
	color:#777777;
	font:normal 14px Arial;
	text-transform:uppercase;
	white-space:nowrap;
}

.MainBody td.new_artist_name a :hover
{
    text-decoration:underline;
}

.blue_city_name{
	color:#3191C7;
	font:normal 10px Arial;
	text-transform:uppercase;
	margin-top:5px;
	white-space:nowrap;
	line-height:19px;
	
}
/*------------------------New Artist-------------------------*/

/*----------------------------Custom Newsletter Banner-------------------------------*/
.pop1{
	width:270px;
	background:#fff;
	height:151px;
	border:1px #ccc solid;
	
}
.pop1 .sidebox_header{
	background:#a9a8a8;
	height:38px;
	color:#fff;
	font:bold 26px "News Gothic MT", arial;
	padding:0px;
	padding-top:5px;
	margin:0px;
	text-align:center;
}

.pop1 h1 span.main_title{
	font:bold 21px  "News Gothic MT",arial;
	padding:0px;
	margin:0px;
	}
	
.pop1 h1 span.sub_title{
	font:bold 15px "News Gothic MT", arial;
	padding:0px;
	margin:0px;
	}


.pop1 .content{
	color:#3393c5;
	font-family: "News Gothic MT",arial;
	font-size:11px;
	margin:0px;
	padding:0px;
	text-align:center;
	padding-top:0px;
	
	
}
.pop1 .content .span1
{
    margin-top:5px;
    }



.pop1 .content .newsletter_msg
{
    color:Red;
    font-size:12px;
}

.content h2{
	font-size:24px;
	margin:4px 0px 0px 0px;
	padding:0px;
	font-weight:normal;
	font-family: "News Gothic MT" ,arial;
	color:#3393c5;
}

.head
{
    padding-bottom:5px;
}
.head h2
{
    margin:0px;
     font-family: "News Gothic MT",arial;
    font-size: 20px;
}
.input_field{
	padding-left:8px;
	padding-top:10px;
	text-align:left;
} 

.pad_big{
	padding-top:15px;
}
.pad_btm{
	padding-bottom:3px;
	padding-top:0px;
}




.input_field input[type=text].f_name{
	width:79px;
	/*float:left;*/
}

.input_field input[type=text].l_name{
	width:147px;
}
.input_field .left_input{
	width:181px;
	float:left;	
}
.input_field .left_input input{
	width:170px;
	border:1px #ccc solid;
	font:12px arial;
	float:left;
    height:26px;
    color:#ccc;
    padding-left:5px;
    font-style:italic;
	margin-right:0px;
}

.input_field .submit_btn{
	width:77px;
	float:left;
	margin-right:0px;
}
.input_field input[type=text]{
	width:170px;
	border:1px #ccc solid;
	font:12px arial;
	float:left;
    height:26px;
    color:#ccc;
    padding-left:5px;
    font-style:italic;
	margin-right:0px;
}

.input_field .submit_btn input{
	width:77px;
	height:26px;
	border:0px;
	/*float:left;*/
	cursor:pointer;
	background:url(../images/new/blue_sbmit_btn.jpg) no-repeat;
	
}

/*----------------------------Custom Newsletter Banner-------------------------------*/


/*-----------------------------------Custom Home Page Styles---------------------*/

img#sales-header-image
{
    /*width: 810px;*/
	width: 920px;
	margin-top:-15px;
	margin-bottom: 16px;
}


